<div class="h-100 bg-plum-plate bg-animation">
    <div class="d-flex h-100 justify-content-center align-items-center">
        <div class="mx-auto app-login-box col-md-8">
            <div class="app-logo-inverse mx-auto mb-3"></div>
            <div class="modal-dialog w-100 mx-auto">
                <div class="modal-content">
                    <div class="modal-body">
                        <form [formGroup]="loginForm">
                            <div class="h5 modal-title text-center">
                                <h4 class="mt-2">
                                    <div>Welcome back,</div>
                                    <span>Please sign in to your account below.</span>
                                </h4>
                            </div>
                            <div aria-describedby="exampleInputGroup1__BV_description_"
                                 class="form-group">
                                <div>
                                    <input formControlName="username" type="email" placeholder="Enter email..."
                                           aria-required="true" class="form-control"
                                           [ngClass]="{ 'is-invalid': (loginFormSubmitted || lf.username.touched) && lf.username.invalid,
                                        'is-valid': loginFormSubmitted && !lf.username.invalid }"
                                           required>
                                    <small tabindex="-1" class="form-text text-muted">
                                        We'll never share your email with anyone else.
                                    </small>
                                    <div *ngIf="(loginFormSubmitted || lf.username.touched) && (lf.username.invalid || lf.username.errors?.required)"
                                         class="help-block mt-1 text-danger">
                                        <i class="ft-alert-circle align-middle">
                                        </i> Email is required
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <input formControlName="password" type="password" placeholder="Enter password..." aria-required="true"
                                           class="form-control" [ngClass]="{ 'is-invalid': (loginFormSubmitted || lf.password.touched) && lf.password.invalid,
                                        'is-valid': loginFormSubmitted && !lf.password.invalid }"
                                           required>
                                    <div *ngIf="(loginFormSubmitted || lf.password.touched) && (lf.password.invalid || lf.password.errors?.required)"
                                         class="help-block mt-1 text-danger">
                                        <i class="ft-alert-circle align-middle"></i> Password is required
                                    </div>
                                </div>
                            </div>

                            <div class="divider"></div>
                            <h6 class="mb-0">
                                No account?
                                <a [routerLink]="" class="text-primary">Sign up now</a>
                            </h6>
                        </form>
                    </div>
                    <div class="modal-footer clearfix">
                        <div class="float-left">
                            <a [routerLink]="" class="btn-lg btn btn-link">
                                Recover
                                Password
                            </a>
                        </div>
                        <div class="float-right">
                            <button type="button" class="btn btn-primary btn-lg" (click)="onLogin()">
                                <i class="ft-log-in mr-1"> </i>
                                Login
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center text-white opacity-8 mt-3">
                Copyright © 2019
            </div>
        </div>
    </div>
</div>
